<h1>Angular Test Interview</h1>
<router-outlet></router-outlet>
<div *ngIf="!flag " class="container">

    <h3>Card Payments</h3>
    <ul class="card__container" *ngFor="let dto of dtos | async; let i = index">
        <li>
            <span target="_blank">{{dto.cardNumber}}</span> <br>
            <span target="_blank">{{dto.cardHolder}}</span> <br>
            <span target="_blank">{{dto.expDate}}</span> <br>
            <span target="_blank">{{dto.ccvCode}}</span> <br>
            <span target="_blank">{{dto.amount}}</span>
        </li>
    </ul>

    <div class="button__container">
        <button (click)="goToPaymentPage()">Go to payment page</button>
    </div>
</div>